body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(pics/main.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-textbox {
    position: absolute;
    width: 1250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 50px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.4em 0;
    line-height: 100px;
}

.white {
    color: #fff;
}

.text {
    font-family: cursive;
    margin-top: 80px;
    letter-spacing: 2.5px;
    line-height: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.showcase {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.showcase img {
    height: 200px;
    width: 200px;
}

#mern {
    height: 180px;
    width: 350px;
}

#underline {
    text-decoration: underline;
}

.bigger {
    font-weight: bold;
    font-size: 20px;
}

.showcase img:hover {
    transform: scale(1.15);
    transition: 0.5s;
}

#end {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 50px;
}

#bottom {
    margin-bottom: 100px;
}

.container {
    width: 1000px;
    margin: auto;
}

footer {
    background-color: #ddd;
    padding: 50px;
    font-size: 80%;
}

footer img {
    height: 50px;
    width: 50px;
}

.row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}