body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(pics/main.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.main-textbox {
    position: absolute;
    width: 1250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 50px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.4em 0;
    line-height: 100px;
}

.white {
    color: #fff;
}

.text {
    font-family: cursive;
    margin-top: 80px;
    letter-spacing: 2.5px;
    line-height: 50px;
}

.section-showcase {
    padding: 0;
}

.project-showcase {
    list-style: none;
    width: 100%;
}

.project-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.project-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.project-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.project-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}